<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztgeo.pointtopoint.mapper.mainMapper.DJ_TSGLMapper">
    <resultMap id="BaseResultMap" type="com.ztgeo.pointtopoint.handle.middleEntity.DJ_TSGL">
        <result column="GLBM" property="glbm"/>
        <result column="SLBH" property="slbh"/>
        <result column="BDCLX" property="bdclx"/>
        <result column="TSTYBM" property="tstybm"/>
        <result column="BDCDYH" property="bdcdyh"/>
        <result column="DJZL" property="djzl"/>
        <result column="GLMS" property="glms"/>
        <result column="CSSJ" property="cssj"/>
        <result column="LIFECYCLE" property="lifecycle"/>
        <result column="SLBH1" property="slbh1"/>
        <result column="ZSLX" property="zslx"/>
        <result column="SLBH2" property="slbh2"/>
        <result column="TSZT" property="tszt"/>
        <result column="MARK" property="mark"/>
        <result column="XSQSRQ" property="xsqsrq"/>
        <result column="XSJZRQ" property="xsjzrq"/>
        <result column="TRANSNUM" property="transnum"/>
        <result column="IMPORTNAME" property="importname"/>
        <result column="YBDCDYH" property="ybdcdyh"/>
        <result column="TRANSNUM2" property="transnum2"/>
        <result column="TRANSWH" property="transwh"/>
        <result column="FDGJLX" property="fdgjlx"/>
    </resultMap>

    <!-- 判断查封或者抵押 -->
    <select id="judgyCFOrDY" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT * FROM dj_tsgl WHERE TSTYBM = #{tstybm}
  </select>

</mapper>